* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--dark);
}

:root{
  --primay: #fff;
  --dark:rgba(28, 27, 27);
  --primaryBlue:rgba(32, 60, 102);


}

